@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	font-family: "Victor Mono", monospace;
}

.checked-div {
	opacity: 30%;
	position: relative;
	transition: opacity;
	transition-duration: 500ms;
}

.removed {
	transition-duration: 500ms;
	opacity: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateX(10px);
	}
}

.todo-item {
	animation: fadeIn 0.4s ease-in-out;
}

.todo-item.removed {
	animation: fadeOut 0.4s ease-in-out;
}
